@{
    ViewData["Title"] = "Profile";
}

@using LearningManagementSystem.ViewModels
@model UpdateUserViewModel

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <!-- Card frame starts -->
            <div class="card shadow p-4">
                <div class="card-body">
                    <h5 class="card-title mb-4 text-center">Profile</h5>
                    <form asp-controller="Account" asp-action="UpdateUser" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-group mb-3">
                            <label asp-for="FirstName"></label>
                            <input class="form-control" asp-for="FirstName">
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="LastName"></label>
                            <input class="form-control" asp-for="LastName">
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="UserName"></label>
                            <input class="form-control" asp-for="UserName">
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Email"></label>
                            <input readonly class="form-control" asp-for="Email">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <a asp-action="ForgetPassword" asp-controller="account">Reset Password</a>
                        <button type="submit" class="btn btn-primary w-100">Update</button>
                    </form>
                </div>
            </div>
            <!-- Card frame ends -->
        </div>
    </div>
</div>

<partial name="_ValidationScriptsPartial" />



